<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>

<body>
    Hi {{ user.first_name }}
    <br>
    <br>
    The password for your OamiiCards account {{ user.email }} has been successfully changed.
    <br>
    <br>
    If you did not make this change or you believe an unauthorised person has accessed your account, please reset your
    password immediately by clicking here: <a href="{{ link }}">{{ link }}</a>
    <br>
    <br>
    Best regards,
    <br>
    <br>
    Team OamiiCards
</body>

</html>
