<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}}, Welcome to OamiiCards - Let's get started!</title>
</head>

<body>
    Welcome, {{ user.first_name }}!
    <br>
    <br>
    We’re thrilled to have you on board. To get the most out of OamiiCards, please start by adding your details:
    <br>
    https://app.oamiicards.com/login
    <br>
    <br>
    If you have any questions, feel free to email our customer success team at contact@oamiicards.com. We also offer
    live chat during business hours.
    <br>
    <br>
    Thanks,
    <br>
    <br>
    Team OamiiCards

</body>

</html>
